.header {
  margin: 1em 0;
}

.chart-wrapper {
  width: 800px;
  margin: 3em auto 0;
  text-align: center;
}

tr.rejected td {
  background-color: #ffcccc;
}

.text-beer {
  color: #b98000;
}

.btn-beer {
  color: #fff;
  background-color: #b98000;
  border-color: #ad701a;
}

.btn-beer:hover,
.btn-beer:active,
.btn-beer:focus {
  color: #fff;
  background-color: #ad701a;
  border-color: #81520f;
}

.ReactModal__Content {
  border: none ! important;
  background: transparent ! important;
}

.thinking {
  text-align: center;
}

.thinking-emoji {
  font-size: 50px;
  display: inline-block;
  animation-name: thinking;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes thinking {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg);
  }
}
